.blue{
    width: 600px;
    height: 500px;
    background-color: rgb(18, 168, 243);
}

.sun{
    width: 50px;
    height: 50px;
    background-color: yellow;
    margin-left: 120px;
    border-radius: 55px;
    box-shadow: 5px 5px 3.5px rgb(138, 138, 15);
    position: fixed;
    margin-top: 50px;

}

.plane{
    margin-left: 400px;
    position: fixed;
    margin-top: 80px;
}

.mountain1{
    width: 350px;
    height: 250px;
    background-color: rgb(8, 150, 8);
    position: fixed;
    margin-top: 250px;
    border-radius: 0px 150px 0PX 0PX ; 

}

.mountain2{
    width: 350px;
    height: 250px;
    background-color: rgb(8, 150, 8);
    position: fixed;
    margin-top: 250px;
    margin-left: 250px;
    border-radius: 180px 0px 0px 0px;
}