.container{
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: wrap-reverse row;
    font-family: stencil;
    font-weight: 30px;

    
}

.box{
    border: 8px black solid;
    padding: 10px;
    margin: 10px;
    background-color: yellow;
}