.blue{
    width: 100px;
    height: 100px;
    background-color: blue;
    float: left;
}
 
.yellow{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 230, 9);
    float: left;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black ;
    transform: rotate(45deg);
    margin-left: 30px;
}

.purple{
    width: 200px;
    height: 200px;
    background-color: purple;
    clear: both;
    margin-left: 300px;
    box-shadow: 10px 20px 15px rgb(8, 0, 8) ;
    border-radius: 0px 15px 50px 8px;
    transform: rotate(45deg);
}